<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
    <% var services = [
        {name: "Campylobacter", href: "/view/Taxonomy/194#view_tab=overview"},
        {name: "Escherichia", href: "/view/Taxonomy/561#view_tab=overview"},
        {name: "Listeria", href: "/view/Taxonomy/1637#view_tab=overview"},
        {name: "Salmonella", href: "/view/Taxonomy/590#view_tab=overview"}
    ]

    var featured_virus = [
        {name: "Influenza A virus", href: "/view/Taxonomy/11320#view_tab=overview"},
        {name: "Monkeypox virus", href: "/view/Taxonomy/10244#view_tab=overview"},
        {name: "SARS-CoV-2", href: "/view/Taxonomy/2697049#view_tab=overview"}
    ]

    var metagenomes = [
        {name: "SARS-CoV-2 Wastewater", href: ""},
        {name: "H5N1 Wastewater", href: ""}
    ]


    var servicesMiddle = Math.round(services.length / 2);
    var featuredVirusMiddle = Math.round(featured_virus.length / 2);
    var metagenomesMiddle = Math.round(metagenomes.length / 2);

    var isProd = request.applicationOptions.appLabel == "";
    %>

    <div id="bv-brc-header" class="P3Header" role="heading" aria-level="1">

        <div id="bv-brc-header-container">
            <div class="nav-logo">
                <a class="nav-logo-link" href="/">
                    <img class="bv-brc-logo" src="/patric/images/ldkb_logo.png" alt="BV-BRC Logo" style="height: 28px;width:100px"/>
                    <!-- Remove Version Number
                    <span><i style="color: #ffffff; font-size: 12px; padding-left: 2px;"><%- request.package.version %><%- request.applicationOptions.appLabel || " " %></i></i></span>
                    -->
                    <span><i style="color: #ffffff; font-size: 12px; padding-left: 2px;">0.0.1</i></i></span>
                </a>
            </div>

            <div style="vertical-align: top; min-width: 435px; flex: 1">

                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>DATA</span>
                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div><a class="navigationLink" href="/view/Genome/9606.33">Genome</a></div>
                        <div><a class="navigationLink" href="/view/Genome/9606.33#view_tab=features">Features</a></div>
                    </div>
                </div>

                <!-- SERVICES -->
                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>SERVICES</span>
                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div>
                            <div style="vertical-align: top;width:250px;margin-right:5px;display:inline-block">
                                <!-- <div class="menuHeader">Pipelines</div> -->
                                <div class="menuItems">
                                    <div><a class="navigationLink" href="">Cell Imaging</a></div>
                                    <div><a class="navigationLink" href="">RNASeq</a></div>
                                    <div><a class="navigationLink" href="">Variation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>WORKSPACES</span>

                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div>
                            <div style="vertical-align: top;width:175px;display:inline-block">
                                <div class="HideWithAuth">
                                    Please <a class="loginLink">sign in</a> to view your workspaces.
                                </div>
                                <div class="ShowWithAuth">
                                    <div><i class="fa icon-caret-down fa-1x noHoverIcon"
                                            style="color:#333;cursor:normal;"></i>&nbsp;<a
                                                class="navigationLink" id="YourWorkspaceLink">Workspaces</a></div>
                                    <div id="YourWorkspaces"></div>
                                    <div><a class="navigationLink" href="/workspace/public">Public Workspaces</a></div>
                                    <div><a class="navigationLink" href="/workspace/public/maage@bvbrc/MAAGE%20Workshop">LDKB Workshop</a></div>
                                </div>
                            </div>
                            <div style="vertical-align:top;display:inline-block" class="ShowWithAuth">
                                <div>
                                    <a class="navigationLink" href="/job/">My Jobs</a>
                                </div>
                                <div>
                                    <!-- <a class="navigationLink" href="/view/GenomeList/?eq(public,false)">My Genomes</a> -->
                                    <a class="navigationLink" href="/view/BioprojectList/?eq(public,false)&eq(bioproject_accession,PRJNA218110)">My Bioprojects</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>HELP</span>

                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div style="font-weight: bold; font-size: 14px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/">Documentation Website</a></div>

                        <div style="margin-top: 5px; margin-bottom: 5px;" class="menuHeader">Updates and Reports</div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/news/index.html">News and Announcements</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/reports_and_analysis/index.html">Reports and Analysis</a></div>

                        <div style="margin-top: 5px; margin-bottom: 5px;" class="menuHeader">Help Resources</div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/overview.html">Overview</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/quick_start/index.html">Quick Start</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/data_protocols/index.html">Data Sources &amp; Protocols</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/quick_references/index.html">Quick Reference Guides</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/tutorial/index.html">Tutorials</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/common_tasks/index.html">Common Tasks</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/cli_tutorial/index.html">Command Line Interface</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/videos/index.html">Instructional Videos</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/webinar/index.html">Webinars</a></div>

                        <div style="margin-bottom: 5px;" class="menuHeader">System Documentation</div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/system_documentation/system_architecture.html">System Architecture</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/test_procedures/index.html">Test Procedures</a></div>
                        <div style="margin-left: 10px;"><a class="navigationLinkOut" href="https://www.bv-brc.org/docs/usage_metrics.html">Usage Metrics</a></div>

                    </div>
                </div>

                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>ABOUT</span>

                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div><a class="TopMenuLink" href="/about">About LDKB</a></div>
                        <div><a class="TopMenuLink" href="/team">Team</a></div>
                        <div><a class="DialogButton" rel="reportProblem:">Contact Us</a></div>
                        <div style="display: none;"><a class="TopMenuLink" href="https://www.bv-brc.org/docs/news/index.html" target="_blank">Announcements</a></div>
                        <div style="display: none;"><a class="TopMenuLink" href="/brc-calendar">LDKB Calendar</a></div>
                        <!-- <hr> -->
                        <div style="display: none;"><a class="TopMenuLink" href="/publications">Publications</a></div>
                        <div style="display: none;"><a class="TopMenuLink" href="/citation">Citation</a></div>
                        <div style="display: none;"><a class="TopMenuLink" href="/related-resources">Related Resources</a></div>
                        <div style="display: none;"><a class="TopMenuLink navigationLinkOut" href="https://github.com/BV-BRC" target="_blank" rel="noopener">LDKB GitHub</a></div>
                        <div style="display: none;"><a class="TopMenuLink" href="/privacy-policy">Privacy Policy</a></div>
                    </div>
                </div>
            </div>

            <div id="p3header-search" style="padding: 6px 10px 2px 2px; width: 120px; flex-grow: 0.85">
                <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden"
                       data-dojo-type="p3/widget/GlobalSearch"/>
            </div>

            <!-- <div class="navbar-flex-space" style="flex-grow: 0.85;"></div> -->

            <div class="HideWithAuth authLinks showOnLoad dijitHidden" style="padding: 8px 10px 0 0;">
                <a class="LoginButton navigationLink" href="/register">Register</a>
                <a class="LoginButton navigationLink" href="/login">Sign In</a>
            </div>


            <div class="showOnLoad ShowWithAuth dijitHidden">
                <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon"
                        data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-user fa-2x login-btn'">
                    <span></span>
                    <div class="warning_icon user_warning_icon icon-warning fa fa-1x"> </div>
                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div>Signed in as <span id="signedInAs" style="font-weight:bold;"></span></div>
                        <hr>
                        <div><a class="userProfile">Account Settings <i class="warning_icon account-settings-warning icon-warning fa fa-1x" style="vertical-align:middle;"> </i></a></div>
                        <div><a class="sulogin">SU Login</a></div>
                        <div><a class="suSwitchBack" onclick="window.App.suSwitchBack()" style="display:none">SU Switch Back</a></div>
                        <div><a class="logoutLink" onclick="window.App.logout()">Logout</a></div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- -->
    <!-- <div class="msg-box-below-topnav"><strong>The BV-BRC scheduler will be undergoing maintenance on June 6, from 9:00AM-Noon (Chicago Time). Already running jobs will not be affected but job status and submission of new jobs will be unavailable. We are sorry for the inconvenience. -- BV-BRC Team</strong></div> -->
    <!-- <div class="msg-box-below-topnav"><strong>Welcome to the BV-BRC Alpha website. This site is used for active development and testing of the BV-BRC resource. Hence, the data and functionality may change frequently and without notice.</strong></div> -->
    <!-- <div class="msg-box-below-topnav"><strong>Welcome to the BV-BRC Beta website. This site is used to seek early community feedback for the BV-BRC resource, which is still under development. Please note that the data and functionality on this site may change frequently and without notice.</strong></div> -->
</div>
