<!DOCTYPE html>
<html lang="en">
	<head>
        <title>About Us | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">

                            <h1 id="about-us">About MAAGE</h1>
                            <p>The Midwest Alliance for Applied Genomic Epidemiology (MAAGE) is a collaboration of IDPH, the University of Illinois, and Argonne National Laboratory. The goal of the MAAGE is to develop a genomic surveillance and epidemiology platform to enable state and local public health agencies to detect and track the spread of infectious diseases with greater sensitivity and the provide educational material to help the public health and healthcare community to use this platform for their everyday work.
                            </p>
                            <br>

                            <h2>Leadership</h2>
                            <p><strong style="font-size:16px;">Charles Williams:</strong><br />
                            Chief of Testing<br />
                            Illinois Department of Public Health</p>
                            <br>
                            <p><strong style="font-size:16px;">Rebecca Smith:</strong><br />
                            Associate Professor of Pathology</p>
                            <p>University of Illinois Urbana-Champagne</p>
                            <br>
                            <p><strong style="font-size:16px;">Thomas Brettin:</strong><br />
                                Strategic Program Manager</p>
                                <p>Argonne National Laboratory</p>
                                <br>

                            <h2>Mission</h2>
                            <p>The Midwest Alliance for Applied Genomic Epidemiology (MAAGE) is a collaboration of IDPH, the University of Illinois, and Argonne National Laboratory. Our mission is to develop a comprehensive genomic surveillance and epidemiology platform, empowering state and local public health agencies to detect and monitor the spread of infectious diseases with enhanced sensitivity. We are committed to providing educational resources to equip the public health and healthcare communities with the knowledge and skills necessary to integrate this platform into their daily operations.
                                <br><br>
                                Recognizing the importance of tailored tools for genomics, MAAGE actively seeks input from public health and medical professionals to inform the development of our surveillance tools and the design of our educational programs. Our aim is to ensure these resources are practical, effective, and aligned with the real-world needs of those on the front lines of disease surveillance and response.</p><br>
                            <br>

                            <h2>Key Features</h2>
                            <ul style="list-style-type: disc;">
                                <li>Develop a lasting platform to support genomic epidemiological analysis</li>
                                <li>Design and deploy a robust data management framework to collect, process, analyze, integrate, share, and publish genomic and other omics data types from various sources</li>
                                <li>Improve current analysis workflows for more in-depth omic analysis of pathogens of public health importance</li>
                                <li>Develop public facing dashboards that can aid provider outreach and future clinical sample acquisition</li>
                                <li>Develop internal databases that contain the sequencing results tied to demographic metadata for IDPH use</li>
                                <li>Support examination of sequencing data alongside traditional demographic and geospatial data to aid outbreak investigation and disease control</li>
                                <li>Provide public facing databases that improve IDPH data availability and community engagement</li>
                                <li>Provide integrated access to Illinois sequencing data from the Chicago and Springfield labs together</li>
                            </ul>

                            <h2>Funding</h2>
                            <p>This project has been funded in whole or in part by ---.</p>
                            <br>
                            <!--
                            <h2>Performance and Usage Metrics</h2>
                            <a href="public/patric/pdf/bv-brc-performance-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Performance Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="public/patric/pdf/bv-brc-usage-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Usage Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="https://status.patricbrc.org/webstats/cgi-bin/awstats.pl?config=All_BVBRC_Combined" target=_blank style="font-size: 16px; font-weight: bold;">BV-BRC Website Statistics</a>
                            -->

                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
