<!DOCTYPE html>
<html lang="en">
	<head>
        <title>About Us | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">

                            <h1 id="about-us">About LUCID</h1>
                            <p>The LUCID (Low-dose Understanding, Cellular Insights, and Molecular Discoveries) project, led by Argonne National Laboratory, aims to advance our understanding of the biological effects of low-dose radiation exposure. The project focuses on investigating the molecular and cellular mechanisms involved in low-dose radiation damage and repair, identifying signatures of low-dose exposure and radiation-induced tumorigenesis, and developing a multiscale modeling and simulation framework for estimating cancer risk.</p>
                            <br><br>
                            <p>The project is organized into seven thrusts that address different aspects of low-dose radiation research. Thrust 1 focuses on creating curated multimodal population health datasets to study the independent and synergistic effects of low-dose exposure. Thrust 2 aims to build an AI-based Hypothesis Generation Engine to systematically generate, evaluate, and score hypotheses related to low-dose radiation effects. Thrust 3 focuses on constructing a definitive low-dose radiation effects knowledge base, integrating data from the literature, experimental datasets, and simulations. Thrust 4 aims to develop optimal experimental design methods to efficiently test hypotheses and improve our understanding of low-dose radiation effects. Thrust 5 focuses on pioneering new experimental approaches using high-throughput screening, 3D cell cultures, and optimal experimental design. Thrust 6 aims to improve our understanding of mutational signatures of low-dose exposure and potential radiation-induced tumors. Thrust 7 focuses on developing a multiscale modeling and simulation framework to estimate cancer risk from low-dose radiation exposure.</p>
                            <br><br>
                            <p>The project incorporates advanced technologies such as AI, high-throughput experimental methods, and computational modeling to accelerate scientific discovery in low-dose radiation research. By integrating data, theory, experiment, and simulation, the project aims to improve our understanding of the health effects of low-dose radiation exposure and develop biologically based approaches for radiation risk assessment.</p>
                            <br><br>
                            <p>The project is also engaged in collaborative research activities with external researchers and organizations to expand its capabilities and enhance interdisciplinary collaborations. The ultimate goal is to provide valuable insights into the risks and impacts of low-dose radiation exposure and contribute to the development of evidence-based strategies for radiation protection and public health.</p>
                            <br>

                            <h2>Project Leadership</h2>
                            <p><strong style="font-size:16px;">Rick Stevens:</strong><br />
                            Principal Investigator<br />
                            Argonne National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Tom Brettin:</strong><br />
                            Argonne National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Francis Alexander:</strong><br />
                            Argonne National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Byung-Jun Yoon:</strong><br />
                            Brookhaven National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Anuj Kapadia:</strong><br />
                            Oak Ridge National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Heidi Hanson:</strong><br />
                            Oak Ridge National Laboratory</p>
                            <br>

                            <h2>Funding</h2>
                            <p>Argonne National Laboratory's work on the LUCID: Low-dose Understanding, Cellular Insights, and Molecular Discoveries program was supported by the U.S. Department of Energy, Office of Science, Office of Biological and Environmental Research, under Contract DE-AC02-06CH11357.</p>
                            <br>
                            <!--
                            <h2>Performance and Usage Metrics</h2>
                            <a href="public/patric/pdf/bv-brc-performance-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Performance Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="public/patric/pdf/bv-brc-usage-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Usage Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="https://status.patricbrc.org/webstats/cgi-bin/awstats.pl?config=All_BVBRC_Combined" target=_blank style="font-size: 16px; font-weight: bold;">BV-BRC Website Statistics</a>
                            -->

                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
