<!DOCTYPE html>
<html lang="en">
	<head>
        <title>BV-BRC Team | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <h1 id="bv-brc-team">MAAGE Advisory Board</h1>
                          <h2 id="pubhealth">Public Health Advisory Board</h2>
                          <div class="teams" style="grid-template-columns: 1fr 1fr">
                            <div class="sfranks">
                                <p><b>Sarah Franks</b>
                                    <br>&emsp;- RN Communicable Disease Surveillance Specialist High Risk Populations
                                    <br>&emsp;- Evanston Health and Human Services
                                </p>
                            </div>
                            <div class="jpryde">
                                <p><b>Julie Pryde</b>
                                    <br>&emsp;- Administrator
                                    <br>&emsp;- Champaign-Urbana Public Health District
                                </p>
                            </div>
                            <div class="cpate">
                                <p><b>Christine Pate</b>
                                    <br>&emsp;- Hektoen Institute of Medicine (IDPH)
                                    <br>&emsp;- Hektoen Institute of Medicine (IDPH)
                                </p>
                            </div>
                            <div class="choff">
                                <p><b>Chris Hoff</b>
                                    <br>&emsp;- Deputy Director, Public Health
                                    <br>&emsp;- DuPage County Health Department
                                </p>
                            </div>
                            <div class="mhanley">
                                <p><b>Megan Hanley</b>
                                    <br>&emsp;- Epidemiologist
                                    <br>&emsp;- Tazewell County Health Department
                                </p>
                            </div>
                            <div class="rdavies">
                                <p><b>Robert Davies</b>
                                    <br>&emsp;- Director of Planning and Research
                                    <br>&emsp;- Champaign-Urbana Public Health District
                                </p>
                            </div>
                            <div class="yoverton">
                                <p><b>Yvonne Overton</b>
                                    <br>&emsp;- Infection Coordinator
                                    <br>&emsp;- IDPH
                                </p>
                            </div>
                            <div class="pdanso-odei">
                                <p><b>Prince Danso-Odei</b>
                                    <br>&emsp;- Administrator and Health Officer
                                    <br>&emsp;- Vermilion County Health Department
                                </p>
                            </div>
                            <div class="ccavida">
                                <p><b>Chloe Cavida</b>
                                    <br>&emsp;- Epidemiologist
                                    <br>&emsp;- McHenry County Department of Health
                                </p>
                            </div>
                            <div class="hheerdt">
                                <p><b>Heidi Heerdt</b>
                                    <br>&emsp;- Registered Nurse
                                    <br>&emsp;- Bureau County Health Department
                                </p>
                            </div>
                            <div class="leckberg">
                                <p><b>Lauren Eckberg</b>
                                    <br>&emsp;-
                                    <br>&emsp;-
                                </p>
                            </div>
                            <div class="tterlinde">
                                <p><b>Tracy Terlinde</b>
                                    <br>&emsp;- Peoria City/County Health Department
                                    <br>&emsp;- Peoria City/County Health Department
                                </p>
                            </div>
                            <div class="bfedak">
                                <p><b>Brenda Fedak</b>
                                    <br>&emsp;- Organizational Communications Manager/PIO/HR
                                    <br>&emsp;- Health Department St. Clair County
                                </p>
                            </div>
                            <div class="mhendrickson">
                                <p><b>Monica Hendrickson</b>
                                    <br>&emsp;-
                                    <br>&emsp;-
                                </p>
                            </div>
                            <div class="kendress">
                                <p><b>Katy Endress</b>
                                    <br>&emsp;-
                                    <br>&emsp;-
                                </p>
                            </div>
                            <div class="cyong">
                                <p><b>Chae Li Yong</b>
                                    <br>&emsp;- Epidemiology
                                    <br>&emsp;- Madison County Health Department
                                </p>
                            </div>
                        </div>
                        <br><br>
                        <h2 id="clinical">Clinical Advisory Board</h2>
                        <div class="teams" style="grid-template-columns: 1fr 1fr">
                            <div class="mfricchione">
                                <p><b>Marielle Fricchione</b>
                                    <br>&emsp;- Associate Professor of Pediatrics, Pediatric Infectious Diseases Attending
                                    <br>&emsp;- Rush University Medical Center
                                </p>
                            </div>
                            <div class="lkociolik">
                                <p><b>Larry Kociolik</b>
                                    <br>&emsp;- Associate Professor of Pediatrics, Vice President, System Preparedness, Prevention, and Response<br>Attending Physician, Division of Infectious Diseases
                                    <br>&emsp;- Northwestern University Feinberg School of Medicine, Center for System Preparedness, Prevention, and Response                                </p>
                            </div>
                            <div class="mhayden">
                                <p><b>Mary Hayden</b>
                                    <br>&emsp;- Director, Division of Infectious Diseases; Director, Clinical Microbiology Lab
                                    <br>&emsp;- Rush University Medical Center
                                </p>
                            </div>
                            <div class="ssansom">
                                <p><b>Sarah Sansom</b>
                                    <br>&emsp;- Assistant Professor, Division of Infectious Diseases
                                    <br>&emsp;- Rush University Medical Center
                                </p>
                            </div>
                            <div class="hjadalla">
                                <p><b>Hend Jadalla</b>
                                    <br>&emsp;- Graduate Assistant at the Center for Rural Health and Social Services Development
                                    <br>&emsp;- Southern Illinois University School of Medicine
                                </p>
                            </div>
                            <div class="rgrewal">
                                <p><b>Rajinder Grewal</b>
                                    <br>&emsp;- Medical Director
                                    <br>&emsp;- Centene Corporation
                                </p>
                            </div>
                            <div class="jwalker">
                                <p><b>Jayme Walker</b>
                                    <br>&emsp;- Hospitalist Practitioner
                                    <br>&emsp;- Rush Copley
                                </p>
                            </div>
                            <div class="hkempegowda">
                                <p><b>Harish Kempegowda</b>
                                    <br>&emsp;- Attending Physician, Orthopaedic and Spine Surgery
                                    <br>&emsp;- Horizon Health
                                </p>
                            </div>
                            <div class="jsodvadiya">
                                <p><b>Jitendra Kumar Sodvadiya</b>
                                    <br>&emsp;-
                                    <br>&emsp;- Horizon Health
                                </p>
                            </div>
                            <div class="aniazi">
                                <p><b>Anum Niazi</b>
                                    <br>&emsp;- Hospitalist, National Hospital Medical Lead Advocacy Coordinator
                                    <br>&emsp;- Vituity
                                </p>
                            </div>
                            <div class="loyoung">
                                <p><b>Lorna O'Young</b>
                                    <br>&emsp;- Owner/Solo practitioner of Ob/Gyn practice; retired
                                    <br>&emsp;- Woman to Woman, P.C.
                                </p>
                            </div>
                            <div class="eozer">
                                <p><b>Egon Ozer</b>
                                    <br>&emsp;- Assistant Professor of Medicine, Infectious Diseases and Director, Center for Pathogen Genomics and Microbial Evolution
                                    <br>&emsp;- Northwestern University Feinberg School of Medicine
                                </p>
                            </div>
                            <div class="aceniceros">
                                <p><b>Ashley Ceniceros</b>
                                    <br>&emsp;- Infectious diseases, wound care, and outpatient internal medicine physician, Clinical Assistant Professor
                                    <br>&emsp;- Carle Foundation Hospital
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
