<!DOCTYPE html>
<html lang="en">
	<head>
        <title>LUCID Team | LUCID</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <h1 id="bv-brc-team">LUCID Team</h1>
                          <div class="teams">
                            <div class="argonne-team">
                                <img src="../patric/images/maage/anl2.png" alt="Argonne National Lab Logo">
                                <h2 id="argonne-national-laboratory">Argonne National Laboratory</h2>
                                <ul>
                                    <li><b>Rick Stevens (PI)</b></li>
                                    <li>Frank Alexander</li>
                                    <li>Tom Brettin</li>
                                    <li>Clark Cucinell</li>
                                    <li>Ralph Buter</li>
                                    <li>Rory Butler</li>
                                    <li>Emily Dietrich</li>
                                    <li>Gautham Dharuman</li>
                                    <li>Ozan Gokdemir</li>
                                    <li>Sara Forrester</li>
                                    <li>Kyle Hippe</li>
                                    <li>Ravi Madduri</li>
                                    <li>Derek McLain</li>
                                    <li>Tarak Nandi</li>
                                    <li>Arvind Ramanathan</li>
                                    <li>Dan Schabacker</li>
                                    <li>Maulik Shukla</li>
                                    <li>Jennife Steeb</li>
                                    <li>Becca Weinberg</li>
                                    <li>Azton Wells</li>
                                    <li>Yitan Zhu</li>
			      	            </ul>
                              </div>
                              <div class="idph-team">
                                <img src="../patric/images/bnl_logo.png" alt="Illinois Department of Health Logo">
                                <h2 id="illinois-dept-health">Brookhaven National Lab</h2>
                                <ul>
                                    <li>Kriti Chopra</li>
                                    <li>Anthony DeGennaro</li>
                                    <li>Ryan Engel</li>
                                    <li>Ozgur Kilic</li>
                                    <li>Sanket Jantre</li>
                                    <li>Shantenu Jha</li>
                                    <li>Xihaier Luo</li>
                                    <li>Susan Minkoff</li>
                                    <li>Gilchan Park</li>
                                    <li>Xiaoning Qian</li>
                                    <li>Mikhail Titov</li>
                                    <li>Matteo Turilli</li>
                                    <li>Lav Varshney</li>
                                    <li>Nathan Urban</li>
                                    <li>Shinjae Yoo</li>
                                    <li>Byung-Jun Yoon</li>
                                    <li>Guang Zhao</li>
                                </ul>
                              </div>
                              <div class="uiuc-team">
                                <img src="../patric/images/ornl_logo2.png" alt="University of Illinois Logo">
                                <h2 id="university-of-illinois">Oak Ridge National Lab</h2>
                                <ul>
                                    <li>Zakaria Aboulbanine</li>
                                    <li>Greeshma Agasthya</li>
                                    <li>Debsindhu Bhowmik</li>
                                    <li>Sandra Davern</li>
                                    <li>Nolan English</li>
                                    <li>Andrew Farrell</li>
                                    <li>Jenny Morrell Falvey</li>
                                    <li>Zach Fox</li>
                                    <li>John Goddall</li>
                                    <li>John Gounley</li>
                                    <li>Heidi Hanson</li>
                                    <li>Heechan Lee</li>
                                    <li>Jeremy Logan</li>
                                    <li>Anthony Lim</li>
                                    <li>Dakotah Maguire</li>
                                    <li>Dakotah Murdock</li>
                                    <li>Heather Moran</li>
                                    <li>Jenny Morrell Falvey</li>
                                    <li>Dejani Pal</li>
                                    <li>Anna Plechaty</li>
                                    <li>Jayasai Rajagopal</li>
                                    <li>Joel Reed</li>
                                    <li>Ben Roach</li>
                                    <li>Arpan Sircar</li>
                                    <li>Christopher Stanley</li>
                                    <li>Ashok Tiwari</li>
                                    <li>John Vant</li>
                                    <li>Xiao Wang</li>
                                    <li>Amber Webb</li>
                                  </ul>

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
