<!DOCTYPE html>
<html lang="en">
	<head>
        <title>BV-BRC Team | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <h1 id="bv-brc-team">MAAGE Team</h1>
                          <div class="teams">
                            <div class="argonne-team">
                                <img src="../patric/images/maage/anl2.png" alt="Argonne National Lab Logo">
                                <h2 id="argonne-national-laboratory">Argonne National Laboratory</h2>
                                <ul>
                                <li><b>Thomas Brettin (PI)</b></li>
                        	      <li>Nicole Bowers</li>
                                <li>Clark Cucinell</li>
                                <li>James Davis</li>
                                <li>Marcus Nguyen</li>
                                <li>Robert Olson</li>
                                <li>Maulik Shukla</li>
			      	                  </ul>
                              </div>
                              <div class="idph-team">
                                <img src="../patric/images/maage/idph.png" alt="Illinois Department of Health Logo">
                                <h2 id="illinois-dept-health">Illinois Department of Health</h2>
                                <ul>
                                <li><b>Charles Williams (PI)</b></li>
                                <li>Vineet Dhiman</li>
                                <li>Matthew Leslie</li>
                                <li>Lori Saathoff-Huber</li>
                                <li>Ryan Welch</li>
                                </ul>
                              </div>
                              <div class="uiuc-team">
                                <img src="../patric/images/maage/uiuc.png" alt="University of Illinois Logo">
                                <h2 id="university-of-illinois">University of Illinois Urbana Champagne</h2>
                                <ul>
                                <li><b>Rebecca Smith (PI)</b></li>
                                <li>Corinne Campbell</li>
                                <li>Jacinda Dariotis</li>
                                <li>Dana Eldreth</li>
                                <li>Claudia Lutz</li>
                                <li>Iffat Noor</li>
                                </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
